<div class="container">
    <div style="text-align:center">
        <h2>Contact Us</h2>
        <p>Need assistance with your gz product? We'll get you the help you need.</p>
    </div>
    <div class="row">
        <div class="column">

            <h3>Contact :</h3>
            <p><i class="fa fa-fw fa-map-marker"></i> Gz Inc</p>
            <p><i class="fa fa-fw fa-phone"></i> 0373331104</p>
            <p><i class="fa fa-fw fa-envelope"></i> gammazeta919@mail.com</p>
            <h3>We accept :</h3>
            <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
            <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
            <br>
            <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
            <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
            <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
            <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
            <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>

        </div>
        <div class="column">
            <form action="/action_page.php">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="vietnam">VietNam</option>
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                </select>
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                <button mat-raised-button color="primary">Submit</button>
            </form>
        </div>
    </div>
</div>