
<h1><mat-icon>shopping_cart</mat-icon> My Cart</h1>
<div mat-dialog-content fxLayoutGap="20px" style="width: 1000px;">
    <hr>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" >
	<div fxFlex="33%" *ngFor="let item of items">
	    <mat-card class="mat-elevation-z4">
		<mat-card-header>
		    <mat-card-title>{{item.computer.name}}			
		    </mat-card-title>
		</mat-card-header>
		<img mat-card-image [src]="item.computer.compon.image" style="height: 200px;">
		<mat-card-content>
		    <div><b>Price : [{{item.computer.price}}] K</b></div> 
		    <br>
		    <div>
			<b>Num : [{{item.quanLiTy}}] </b>
			<button mat-raised-button matTooltip="-1" (click)="updateCart(item.computer.id,false,false)">-</button>
			<button mat-raised-button matTooltip="+1" (click)="updateCart(item.computer.id,true,false)">+</button>
			<button mat-raised-button matTooltip="remove" (click)="updateCart(item.computer.id,true,true)">
			    <mat-icon>remove_shopping_cart</mat-icon>
			</button>
		    </div>
		</mat-card-content>
	    </mat-card>
	</div>
    </div>
</div>
<hr>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="openBillInfo()">Buy</button>
    <b class="textIcon">Total Price : {{total}} K </b>
</mat-dialog-actions>
