<div mat-dialog-content fxLayoutGap="20px" style="width:1200px;height: 1000px;">
    <div class="about-section">
	<h1>About Gz</h1>
	<p>Gz Inc. is an American multinational technology company headquartered in Cupertino,
	California, that designs, develops, and sells consumer electronics,
	computer software, and online services.</p>
	<p>It is considered one of the Big Five companies in the U.S</p>
    </div>
    <br>
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
	<div class="column">
	    <div class="card">
		<div class="container">
		    <h2>Nguyen Cong Nguyen</h2>
		    <p class="title">CEO & Founder</p>
		    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		    <p>gammazeta919@gmail.com</p>
		    <p>
		    <a href="https://www.facebook.com/gammazeta101/" target="_blank">
			<button class="button">Contact</button>
		    </a>
		    </p>
		</div>
	    </div>
	</div>

	<div class="column">
	    <div class="card">
		<div class="container">
		    <h2>Vilayded Phongadick</h2>
		    <p class="title">Art Director</p>
		    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		    <p>VilaydedPgt@gmail.com</p>
		    <p>
		    <a href="https://www.facebook.com/vilaided.pth" target="_blank">
			<button class="button">Contact</button>
		    </a>
		    </p>
		</div>
	    </div>
	</div>

	<div class="column">
	    <div class="card">
		<div class="container">
		    <h2>Nguyen Tan Nhat</h2>
		    <p class="title">Designer</p>
		    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		    <p>nhat@gmail.com</p>
		    <p>
		    <a href="https://www.facebook.com/nhatnguyen1309" target="_blank">
			<button class="button">Contact</button>
		    </a>
		    </p>
		</div>
	    </div>
	</div>
	<div class="column">
	    <div class="card">
		<div class="container">
		    <h2>Alden FreeMan</h2>
		    <p class="title">Designer</p>
		    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		    <p>AldenFree@gmail.com</p>
		    <p>
		    <a href="https://www.facebook.com/nhatnguyen1309" target="_blank">
			<button class="button">Contact</button>
		    </a>
		    </p>
		</div>
	    </div>
	</div>
    </div>
</div>
