<h1 mat-dialog-title>{{local_data.name}}</h1>
<hr>
<div mat-dialog-content fxLayoutGap="10px" style="width:600px">
        <div class="picture">
                <div><img [src]="url"></div>
        </div>
        <div class="content">
                <div><b>Price : </b>{{local_data.price}} K</div>
                <div><b>Type Cpu : </b>{{local_data.compon.typeCpu}}</div>
                <div><b>Type Disk : </b>{{local_data.compon.typeDisk}}</div>
                <div><b>Size Disk : </b>{{local_data.compon.sizeDisk}} Gb</div>
                <div><b>Size Ram : </b>{{local_data.compon.sizeRam}} Gb</div>
                <div><b>Size Screen : </b>{{local_data.compon.sizeScreen}}"</div>
                <div><b>Size Pin : </b>{{local_data.compon.sizePin}} mAh</div>
                <div><b>Weight : </b>{{local_data.compon.weight}} Kg</div>
                <div><b>Info : </b>{{local_data.info}}</div>
        </div>
</div>
<hr>
<mat-dialog-actions>
        <button mat-button matTooltip="Add to cart" (click)="addToCart()">
                <mat-icon>shopping_cart</mat-icon>
        </button>

        <button mat-button matTooltip="Exit" mat-dialog-close>
                <mat-icon>exit_to_app</mat-icon>
        </button>
</mat-dialog-actions>